<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"    crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/HomePage.css') }}" />
        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.css')}}">
     <meta name="viewport" content="width=device-width, initial=scale=1.0, shrink-to-fit=no">

    <title>Form Event</title>
</head>
<body>
        <header>
       <nav id="mainNav" class="navbar navbar-inverse navbar-custom navbar-fixed-top affix">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expended="true">
                        <span class="sr-only">Toggle navigation</span> Menu
                    </button>
                    <a class="navbar-brand page-scroll" href="http://localhost/SiteBDEA2/web/app_dev.php">BDE CESI Lyon</a>
                    <div class="navbar-header">
                        <!--<a class="navbar-brand page-scroll" href="#page-top">
                        <img alt="Brand" src="{{ asset('img/logoBDENavBar.png') }}">
                        </a>-->
                    </div>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        
                            {% if user is defined and user != NULL %}
                            
                                {% if Status is defined and Status == 1 %}
                                <li>
                                    <a class="page-scroll" href="#">
                                        <i class="fa fa-unlock-alt" aria-hidden="true">
                                        </i> Admin Options
                                    </a>
                                </li>
                                {% elseif Status is defined and Status == 2 %}
                                <li>
                                    <a class="page-scroll" href="http://localhost/SiteBDEA2/web/app_dev.php/User/Register">
                                        <i class="fa fa-user-circle-o" aria-hidden="true">
                                        </i> {{user}}
                                    </a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#">
                                        <i class="fa fa-cog" aria-hidden="true">
                                        </i> BDE
                                    </a>
                                </li> 
                                {% else %}
                                <li>
                                    <a class="page-scroll" href="http://localhost/SiteBDEA2/web/app_dev.php/User/Register">
                                        <i class="fa fa-user-circle-o" aria-hidden="true">
                                        </i> {{user}}
                                    </a>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% if user is defined and user != NULL %}
                            <li> 
                                <a href="http://localhost/SiteBDEA2/web/app_dev.php/SigningOut">
                                            <i class="fa fa-sign-out" aria-hidden="true">
                                            </i> Sign Out
                                </a>   
                            </li>
                            {% else %}
                            <li>
                                <a class="page-scroll" href="http://localhost/SiteBDEA2/web/app_dev.php/User/Login">
                                    <i class="fa fa-user-circle-o" aria-hidden="true">
                                    </i> Login
                                </a>
                            </li>
                            {% endif %}
                        

                        
                    </ul>
                    <!--
                    <form class="navbar-form navbar-right inline-form">
                  <div class="form-group">
                       <input type="search" class="input-sm form-control" placeholder="Search">
                       <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Search</button>
                  </div>
                  </form>
                    -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

<section>

    <div class="container">

      <form class="form-signin">
        <h1 class="form-signin-heading">We will register you for the event.</h1>

       <h4> Informations </h4>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
<hr>
		<input type="last name" id="inputLastname" class="form-control" placeholder="Last name" required autofocus>
        <label for="inputlastname" class="sr-only">Last name</label>
<hr>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

<hr>

		<input type="Age" id="inputAge" class="form-control" placeholder="Date of birth" required autofocus>
        <label for="inputDateofbirth" class="sr-only">Date of birth</label>
<hr>
		
		<div>
			<h4>Gender</h4>
	<label class="radio-inline">
  <input required autofocus type="radio" name="inlineRadioSexe" id="Female" value="sexe"> Male
</label>
</div>
<div>
  <label class="radio-inline">
  <input required autofocus type="radio" name="inlineRadioSexe" id="Male" value="sexe"> Female
</label>
</div>
<hr>
<h4>School</h4>
        <label class="radio-inline">
  <input type="radio" name="inlineRadioSchool" id="inlineRadio1" value="option1"> Exia
</label>
<label class="radio-inline">
  <input  type="radio" name="inlineRadioSchool" id="inlineRadio2" value="option2"> CPTEI
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioSchool" id="inlineRadio3" value="option3"> Alternant
</label>
<hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit" href="HomePage.html.twig">Join the adventure !</button>
      </form>

    </div> <!-- /container -->
</section>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Website 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/AdrienKegler/SiteBDEA2"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>